<ion-content class="container"><br>
  <ion-input label="Username" label-placement="floating" fill="outline" placeholder="Enter Username" [(ngModel)]="username"></ion-input><br>
  <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Enter Password" [(ngModel)]="password"></ion-input><br>
  <ion-button expand="block" (click)="onSubmit()">Login</ion-button><br>
  <ion-button expand="block" (click)="getdata()">getdata</ion-button>
</ion-content>

<ion-card-content >
 
</ion-card-content>




