<ion-content>
  <ion-card color="medium" *ngFor="let emp of empdata">
    <ion-card-header>
      <ion-card-title class="resume-header">
        <img [src]="base_url+emp.Image_url">

      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="dark">
    <ion-card-content>  </ion-card-content>
  </ion-card>
  <ion-card color="dark">
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  <ion-card color="dark">
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
</ion-content>
