ion-content {
    --background: url("../../../assets/icon/bg.jpg");

    h1 {
        font-size: 50px;
        margin: 100px auto;
        color: #fff;
    }

    ion-button {
        --background: #ffffff4f;
        height: 50px;
        margin-top: 150px;
        --border-radius: 13px;
        text-transform: capitalize;
    }

    a {
        color: white;
        display: block;
        text-align: center;
        text-decoration: none;
    }
}