<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" color="medium">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="ion-padding txt">The best<br> app for<br> your plants</h1>
    <ion-grid class="login">
      <ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="dark" class="ion-padding btn">sign in</ion-button><br>
            <a href="">create an account</a>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-grid>
  </div>
</ion-content>
